body {
  background: url('med.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-pills {
  display: flex;
  justify-content: flex-end;
}

form {
  max-width: 450px;
  margin: auto auto;
}

.form-group {
  display: inline-block;
  text-align: center;
}

input {
  margin: 10px;
}

#signupForm, h2 {
  margin-top: 100px;
}

h1, h2 {
  text-align: center;
}


